
body {
	font-family: 'Titillium Web', serif;
	background: #444;
	color: #ddd;
}

.notesList li {
	margin: 10px 0;
}

a {
	color: deepskyblue;
}

h2 {
	padding: 4px 0;
	font: inherit;
	vertical-align: baseline;
}
