<ul class="notes">
    <li>
        MOST IMPORTANT
        <br>
        design of basic layout mechanism/scaffolding and decision on primary generic features/behaviors on modules management
        <br>
    </li>
    <br>
    <li>
        modal ( generic for dialogs etc )
        <br>
        <a href="http://getbootstrap.com/javascript/#modals" target="_blank">modal sexample bootstrap</a>
        <br>
        <a href="http://sandbox.scriptiny.com/tinybox2/" target="_blank">example 2</a>
    </li>
    <li>
        message panel / bubble message
    </li>
    <li>
        progress bar / other animating stuff to show the user an ajax call
    </li>
    <br>
    <li>
        decide on some basic forms/ui principles ( submit, cancel, edit etc )
        <br>
        <a href="http://alistapart.com/article/flat-ui-and-forms">best practices</a>
    </li>
    <li>
        input fields tooltip for validation/error messages
    </li>
    <li>
        add missing elements to login/register forms
        <br>
        'forgot password'
        <br>
        'terms & conditions'
        <br>
        'cookies acceptance message'
    </li>
    <br>
    <br>
    <li>
        history state implementation with # in URL
        <br>
        <a href="https://github.com/browserstate/history.js/wiki/Intelligent-State-Handling">example</a>
    </li>
    <li>
        list collapse items
        <br>
        <a href="http://getbootstrap.com/javascript/#collapse" target="_blank">collapse example bootstrap</a>
    </li>
    <br>
    <li>
        generic icons needed ( X  V  and so on... )
    </li>
    <li>
        highlight the active tab
    </li>
    <li>
        icons in tab controls to help visual recognition of tab content
    </li>
    <br>
    <li>
        breadcrumbs
    </li>
    <li>
        localization (Fonts update, etc)
        <br>
        <a href="https://github.com/eligrey/l10n.js/#readme" target="_blank"> localization library</a>
    </li>
    <br>
    <li>
        sockets/ multiple sessions synchronization
    </li>
    
</ul>